.feature-img {
    width: 350;  
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
.service-img {
  width: 100px;  
  height: 100px; 
  object-fit: cover; 
  border-radius: 10px; 
}
